<!doctype html>
<html>
  <head>
    <title>A Simple App</title>

    <link href='style.css' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <header>
      <h1>Comments</h1>
      <p>A simple app that allows a user to input comments</p>
    </header>

    <main ng-app="chat">
      <section class="comment-input" ng-controller="addcomment">
        <p>Add Your Comment:</p>
        <input type="text" class="txt" placeholder="New comment"
             ng-model="newcomment" ng-keyup="add($event)" />
     
        <ul class="comments" ng-repeat="comments in chat track by $index">
          <li>
            <span>{{ comments }}</span>
          </li>
        </ul>
      </section>
    </main>

    <footer>
      <p>this work is released into the public domain</p>
    </footer>

    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
